
body {
color:grey;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;
}

h1 {
  text-shadow: 1px 2px 2px grey;
  color:pink;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 3px;
}

button {background-color: #e7e7e7;} /* Gray */
button {
  color:grey;
}

 .inputSection {
  margin: 50px 0px 80 px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display:flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
